.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: var(--background);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

[data-theme='dark'] .footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}