.wrapper {
    padding: 30px
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    color: forestgreen;
}

.formWrapper > * {
    border-radius: 8px;
}

.formWrapper > .description {
    min-height: 120px;
    padding: 8px;
}

.formWrapper > button {
    min-height: 24px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formWrapper > button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.submitting {
    background-color: #cccccc;
}

.formWrapper > input {
    min-height: 24px;
    padding: 8px;
}