:root {
    --background : #ffffff;
    --text-primary : #000;
    --button-bg : #000;
    --button-text : #fff;
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    --text-primary-hover : rgb(161, 39, 110);
    /* To reference images in the public folder, start the path with a forward slash */
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: var(--background);
}
[data-theme='dark'] {
    --background : #000;
    --text-primary : #fff;
    --button-bg : #fff;
    --button-text : #000;
    --text-primary-hover : rgb(212, 177, 202);
}

.dark-light-mode {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    transition: all 0.5s;
}

.dark-light-mode .container  {
    color: var(--text-primary);
    margin: 0px;
    padding-bottom: 80px; /* Add space for the footer */
}

.dark-light-mode .container p {
   /* background-color: var(--text-primary); */
    font-size: 16px;
}



.dark-light-mode .container button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: 1px solid var(--button-text);
    border-radius: 8px;
    padding: 20px;
}

h1, h2 { margin-top: 0; }

/* The button doesn't stay on the far right because we need to add justify-content: space-between 
   to the header-container to push items to opposite ends */
.header-container {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center; 
    margin-bottom: 25px;
}

.header-container li {
    color: var(--text-primary);
    text-decoration: none;
}

.header-container li:hover {
    color: var(--text-primary-hover);
}

.theme-icon {
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .theme-icon {
        font-size: 34px;
        margin-right: 20px;
    }
}

.theme-icon:hover {
    color: rgb(216, 210, 20);
}